.cart-links {
    display: none;
    padding-left: rem(20px);
    padding-top: rem(20px);
    font-family: $font-family-custom;
    font-size: $font-size-base-small;

    @media #{$screen-tablet} {
        display: flex;
    }

    @media #{$screen-desktop} {
        display: flex;
    }

    &-left {
        padding-right: rem(5px);
        border-right: rem(1px) solid $heather;
    }

    &-right {
        padding-left: rem(7px);
    }
}