.error.form__input {
    border: 1px solid $red !important;
}

.error+label {
    display: none;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        color: $red;
        font-size: rem(10px);
        font-weight: $font-weight-regular;
        font-family: $font-family-custom;
        content: 'Телефон указан неверно';
    }
}