.mobile-profile {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: none;
    height: rem(62px);
    padding-right: rem(20px);

    @media #{$screen-tablet} {
        display: none;
    }

    @media #{$screen-desktop} {
        display: none;
    }

    &__img {
        width: rem(24px);
        height: rem(24px);
        border-radius: 50%;

        @media #{$screen-tablet} {
            display: none;
            padding-right: rem(20px);
        }

        @media #{$screen-desktop} {
            display: none;
            padding-right: rem(20px);
        }
    }
}