.specials {
    width: 100%;
    position: relative;
    background-color: $white;
    border-radius: rem(8px);
    box-shadow: $box-shadow;
    margin-bottom: rem(20px);

    @media #{$screen-tablet} {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: unset;
        max-height: rem(219px);

        &-left {
            position: relative;
            flex-direction: row;
        }
    }

    @media #{$screen-desktop} {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: unset;
        max-height: rem(219px);

        &-left {
            position: relative;
            flex-direction: row;
        }
    }
}