.title {
    @include title-big;

    &__subtitle {
        @include title-medium;

        &-profile {
            padding-top: rem(50px);
            margin-bottom: rem(10px);

            &-opinion {
                margin-bottom: 0;
            }
        }
    }

    &__text {
        font-family: $font-family-custom;
        font-size: $font-size-base-medium;
        letter-spacing: 0.01em;
    }

    &-profile {
        padding-left: rem(20px);
        margin-top: rem(10px);
        margin-bottom: rem(30px);

        @media #{$screen-desktop} {
            padding-left: 0;
        }
    }
}