@charset "UTF-8";
/**
* Vendors
*/
@import "~normalize.css";
/**
* Abstracts
*/
/**
* Colors
*
* Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
* Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
/**
* Fonts
*/
/**
* Breakpoints
*/
/**
* Layout
*/
.flex {
  display: flex;
  row-gap: 1.875rem;
}

.grid {
  display: grid;
  row-gap: 1.875rem;
}

/**
* Sizes
*/
/**
* Transitions and Animations
*/
/**
* Radius
*/
/**
* Box-shadows
*/
/**
* Z-indexes
*/
/**
* Base
*/
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.woff2") format("woff2");
}
html {
  font-family: "Roboto-Medium";
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto-Medium";
  font-size: 1.5rem;
  color: #121920;
}

h2 {
  font-family: "Roboto-Medium";
  font-size: 1.25rem;
  color: #121920;
}

h3 {
  font-family: "Roboto-Medium";
  font-size: 1.125rem;
  color: #3c3c3c;
}

p {
  font-family: "Roboto-Regular";
  font-size: 0.875rem;
  color: #121920;
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

blockquote {
  font-family: "Roboto-Regular";
  font-size: 0.875rem;
  color: #121920;
}

a {
  font-family: "Roboto-Regular";
  font-size: 0.875rem;
  color: #34aadd;
  text-decoration: none;
}

/* img {} */
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*
* Components
*/
.button {
  color: #ffffff;
  border-radius: 0.3125rem;
  height: 3.125rem;
  width: 3.125rem;
  background-color: #34aadd;
  border: none;
}
.button:hover {
  background-color: #6680ae;
}
.button:active {
  background-color: #6680ae;
  opacity: 0.5;
}
.button:disabled {
  background-color: #ebebf1;
  color: #bbc4d6;
}

.footer {
  box-shadow: 0rem 0.1875rem 0.625rem rgba(0, 0, 0, 0.05);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
.footer__wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 17.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media (min-width: 768px) {
  .footer__wrp {
    flex-direction: row;
    height: 6.375rem;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1280px) {
  .footer__wrp {
    flex-direction: row;
    height: 6.375rem;
    padding-left: 0;
    padding-right: 0;
  }
}
.footer__wrp-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__wrp-links {
    flex-direction: row;
    gap: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .footer__wrp-links {
    flex-direction: row;
    gap: 2.5rem;
  }
}

.header {
  box-shadow: 0rem 0.1875rem 0.625rem rgba(0, 0, 0, 0.05);
  position: fixed;
  right: 0;
  left: 0;
  background-color: #ffffff;
}
.header__wrp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 3.875rem;
}
@media (min-width: 768px) {
  .header__wrp {
    height: 5rem;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1280px) {
  .header__wrp {
    height: 5rem;
    flex-wrap: nowrap;
  }
}

.link {
  text-decoration: none;
  color: #34aadd;
  font-family: "Roboto-Regular";
  font-size: 0.875rem;
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  text-decoration: underline;
  opacity: 0.5;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-top: 0.0625rem solid #ebebf1;
  border-bottom: 0.0625rem solid #ebebf1;
  gap: 1.25rem;
  padding: 1.25rem 0;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .links {
    flex-direction: row;
    border-top: none;
    border-bottom: none;
    padding-left: 2.5rem;
    gap: 1.25rem;
    width: auto;
  }
}
@media (min-width: 1280px) {
  .links {
    flex-direction: row;
    border-top: none;
    border-bottom: none;
    border-left: 0.0625rem solid #ebebf1;
    padding-left: 2.5rem;
    gap: 1.25rem;
    width: auto;
  }
}

.logo {
  height: 3.9375rem;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
}
@media (min-width: 768px) {
  .logo {
    height: 5rem;
  }
}
@media (min-width: 1280px) {
  .logo {
    height: 5rem;
  }
}
.logo-img {
  width: 8.4375rem;
  height: 1.875rem;
}

.main {
  background-color: #fafafa;
  min-height: 1000px;
}

.notification-cart {
  width: 17.875rem;
  height: 9.375rem;
}

.profile {
  display: none;
}
@media (min-width: 768px) {
  .profile {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: none;
    padding-right: 1.25rem;
    border-left: 1px solid #ebebf1;
    height: 5rem;
  }
}
@media (min-width: 1280px) {
  .profile {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: none;
    padding-right: 1.25rem;
    border-left: 1px solid #ebebf1;
    height: 5rem;
  }
}
.profile-name {
  font-size: 0.875rem;
  line-height: 120%;
  color: #768298;
  text-transform: capitalize;
  margin-left: 1.25rem;
  margin-right: 0.625rem;
  display: none;
  overflow: hidden;
  max-width: 5rem;
  font-family: "Roboto-Medium";
}
@media (min-width: 768px) {
  .profile-name {
    display: block;
  }
}
@media (min-width: 1280px) {
  .profile-name {
    display: block;
  }
}
.profile-photo {
  visibility: hidden;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .profile-photo {
    visibility: visible;
  }
}
@media (min-width: 1280px) {
  .profile-photo {
    visibility: visible;
  }
}

.search-mobile {
  display: block;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  position: relative;
}
@media (min-width: 768px) {
  .search-mobile {
    display: none;
  }
}
@media (min-width: 1280px) {
  .search-mobile {
    display: none;
  }
}
.search-mobile:before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: transparent;
  top: 0.75rem;
  left: 0.875rem;
  background-image: url("../../img/loupe.png");
  background-size: 1rem 1rem;
}

.search-mobile__input {
  display: block;
  min-height: 40px;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  width: 100%;
  padding-left: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .search-mobile__input {
    display: none;
  }
}
@media (min-width: 1280px) {
  .search-mobile__input {
    display: none;
  }
}
.search-mobile__input::-moz-placeholder {
  display: block;
  color: #BBC4D6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.search-mobile__input:-ms-input-placeholder {
  display: block;
  color: #BBC4D6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.search-mobile__input::placeholder {
  display: block;
  color: #BBC4D6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .search-mobile__input::-moz-placeholder {
    display: none;
  }
  .search-mobile__input:-ms-input-placeholder {
    display: none;
  }
  .search-mobile__input::placeholder {
    display: none;
  }
}
@media (min-width: 1280px) {
  .search-mobile__input::-moz-placeholder {
    display: none;
  }
  .search-mobile__input:-ms-input-placeholder {
    display: none;
  }
  .search-mobile__input::placeholder {
    display: none;
  }
}

.search {
  height: 2.5625rem;
  align-items: center;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .search {
    padding: 0 5vw;
    display: flex;
    height: 5rem;
  }
}
@media (min-width: 1280px) {
  .search {
    padding: 0 5vw;
    display: flex;
    height: 5rem;
  }
}
.search-input {
  height: 100%;
  border: 0.0625rem solid #EBEBF1;
  border-radius: 0;
  padding-left: 2.4375rem;
  width: 100%;
}
@media (min-width: 768px) {
  .search-input {
    border-radius: 0.3125rem;
    height: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .search-input {
    border-radius: 0.3125rem;
    height: 2.5rem;
  }
}
.search-input::-moz-placeholder {
  color: #bbc4d6;
  font-family: "Roboto-Medium";
  font-size: 0.875rem;
}
.search-input:-ms-input-placeholder {
  color: #bbc4d6;
  font-family: "Roboto-Medium";
  font-size: 0.875rem;
}
.search-input::placeholder {
  color: #bbc4d6;
  font-family: "Roboto-Medium";
  font-size: 0.875rem;
}
.search:before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: transparent;
  top: 2rem;
  left: 6vw;
  background-image: url("");
  background-size: 1rem 1rem;
}
.search-form__icon {
  position: absolute;
  display: flex;
  width: 2.875rem;
  z-index: 1;
  background-color: inherit;
  border: none;
  top: 0.75rem;
}
@media (min-width: 768px) {
  .search-form__icon {
    top: 2rem;
  }
}
@media (min-width: 1280px) {
  .search-form__icon {
    top: 2rem;
  }
}
.search-form__icon__image {
  margin: auto;
  width: 1rem;
  height: 1rem;
}

.social-media {
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  gap: 1.4375rem;
}
@media (min-width: 768px) {
  .social-media {
    padding-top: 0;
    padding-left: 1.25rem;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .social-media {
    padding-top: 0;
    padding-left: 1.25rem;
    padding-bottom: 0;
  }
}
.social-media__link {
  color: #bbc4d6;
}
.social-media__link:hover {
  color: #768298;
}

.unfilled-button {
  color: #34aadd;
}
.unfilled-button:hover {
  color: #6680ae;
}
.unfilled-button:active {
  color: #6680ae;
  opacity: 0.5;
}
.unfilled-button:disabled {
  color: #bbc4d6;
  opacity: 0.5;
}

.qsoft {
  width: 8.4375rem;
  height: 1.625rem;
  padding-bottom: 1.25rem;
  padding-right: 0;
  color: #bbc4d6;
  display: flex;
}
@media (min-width: 768px) {
  .qsoft {
    padding-right: 1.25rem;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .qsoft {
    padding-right: 1.25rem;
    padding-bottom: 0;
  }
}
.qsoft__svg {
  margin: 0 auto;
}

.qsoft:hover {
  color: #768298;
  margin: 0 auto;
}

.mobile-profile {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: none;
  height: 3.875rem;
  padding-right: 1.25rem;
}
@media (min-width: 768px) {
  .mobile-profile {
    display: none;
  }
}
@media (min-width: 1280px) {
  .mobile-profile {
    display: none;
  }
}
.mobile-profile__img {
  padding-right: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .mobile-profile__img {
    display: none;
  }
}
@media (min-width: 1280px) {
  .mobile-profile__img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */